<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ page.title | site.title }}</title>

	<!--favicon -->
<!-- 	<link rel="icon" href="_assets/images/adrian-github-io.jpg" type="image/jpeg" /> -->
	<link rel="icon" type="image/jpg" size="32x32" href="{{"/assets/images/adrian-github-favicon.jpg" | relative_url }}">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{"/assets/css/styles.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{"/assets/css/reset.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{"/assets/css/white-black.css" | relative_url}}">
</head>